@model IEnumerable<MyLibrary.Model.Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-danger text-uppercase">
                <strong>THÙNG RÁC</strong>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-success" href="@Url.Action("index","Slider ")"><i class="fas fa-backward"></i> Quay về danh sách</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @Html.Partial("_XMessage")
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    <input type="checkbox" name="checkAll" value="all" />
                </th>
                <th>Tên Slider</th>
                <th>Sắp xếp</th>
                <th>Ngày tạo</th>
                <th>Chức Năng</th>
                <th>ID</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkAll" value="all" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orders)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        
                        <a class="btn btn-sm btn-outline-dark" href="@Url.Action("Retrash","Slider",new { id = item.Id })">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Delete","Slider",new { id = item.Id })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

