<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nura Admin - Dashboard</title>
    <meta name="description" content="Dashboard | Nura Admin">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <!-- Custom CSS -->
    <link href="~/Areas/Public/css/admin.css" rel="stylesheet" />
    <!-- END CSS for this page -->
</head>

<body class="adminbody">

    <div id="main">

        <!-- top bar navigation -->
        <div class="headerbar">

            <!-- LOGO -->
            <div class="headerbar-left">
                <a href="index.html" class="logo">
                    <span>MinhLuong Mobile</span>
                </a>
            </div>

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item dropdown notif">
                        <div class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                            <i class="far fa-bell"></i>
                            <span class="notif-bullet"></span>
                        </div>  
                    </li>
                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                            <img src="~/Public/image/ava.png" alt="Profile image" class="avatar-rounded">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow">
                                    <small>Hello, Admin</small>
                                </h5>
                            </div>

                            <!-- item-->
                            <a href="profile.html" class="dropdown-item notify-item">
                                <i class="fas fa-user"></i>
                                <span>Profile</span>
                            </a>

                            <!-- item-->
                            <a href="~/Admin/logout" class="dropdown-item notify-item">
                                <i class="fas fa-power-off"></i>
                                <span>Đăng Xuất</span>
                            </a>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- End Navigation -->
        <!-- Left Sidebar -->
        <div class="left main-sidebar">

            <div class="sidebar-inner leftscroll">

                <div id="sidebar-menu">
                    <ul>
                        <li class="submenu btn-danger">
                            <a href="@Url.Action("Index","Category")">
                                <i class="fas fa-bars"></i>
                                <span> Danh Mục Sản Phẩm </span>
                            </a>
                        </li>

                        <li class="submenu">
                            <a href="@Url.Action("Index","Product")">
                                <i class="fas fa-file-alt"></i>
                                <span> Sản Phẩm </span>
                            </a>
                        </li>

                        <li class="submenu">
                            <a href="@Url.Action("Index","Menu")">
                                <span class="label radius-circle bg-danger float-right"></span>
                                <i class="fas fa-envelope"></i>
                                <span> Danh sách Menu </span>
                            </a>
                        </li>

                        <li class="submenu">
                            <a href="@Url.Action("Index","User")">
                                <i class="fas fa-photo-video"></i>
                                <span> Thành viên </span>
                            </a>
                        </li>

                        <li class="submenu">
                            <a href="@Url.Action("Index","Slider")">
                                <i class="fas fa-chart-line"></i>
                                <span> Slider </span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a target="_blank" href="https://www.facebook.com/sovasi.ho/">
                                <i class="fas fa-bell"></i>
                                <span> Facebook </span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm#inbox">
                                <i class="fas fa-th"></i>
                                <span> Gmail </span>
                            </a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>
        <!-- End Sidebar -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-holder">
                                <h1 class="main-title text-center text-danger">Chào mừng bạn đến với trang quản trị điện thoại MLMobile </h1>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <!-- end row -->

            </div>

        </div>
        <!-- end row-->

    </div>
    <!-- END container-fluid -->

    <footer class="footer">
        <span class="text-right">
            Quản trị dữ liệu <a target="_blank" href="#">VIP</a>
        </span>
        <span class="float-right">
            <!-- Copyright footer link MUST remain intact if you download free version. -->
            <!-- You can delete the links only if you purchased the pro or extended version. -->
            <!-- Purchase the pro or extended version with PHP version of this template: https://bootstrap24.com/template/nura-admin-4-free-bootstrap-admin-template -->
            Được tạo bởi <a target="_blank" href="https://www.facebook.com/sovasi.ho/" title="Download free Bootstrap templates"><b>Hồ Minh Lượng</b></a>
        </span>
    </footer>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- App js -->
    <script src="~/Areas/Public/js/admin.js"></script>
    <!-- END main -->
</body>
</html>