@model MyLibrary.Model.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>THÊM LOẠI SẢN PHẨM</strong>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-save">Lưu[Thêm]</i>
                    </button>
                    <a class="btn btn-sm btn-success" href="@Url.Action("index","Product")"><i class="fas fa-backward"></i> Quay về danh sách</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Giá niêm yết</label>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Giá khuyến mãi</label>
                        @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Từ xóa SEO</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mô tả SEO</label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ảnh sản phẩm</label>
                        @Html.LabelFor(model => model.Img, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                    <input type="file" name="img" value="img" />
                        @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Hiện", Value = "1" }, new SelectListItem { Text = "Ẩn", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Chi tiết sản phẩm</label>
                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
