@using PagedList;
@using PagedList.Mvc;
@model  PagedList.IPagedList<MyLibrary.Model.Product>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3 mt-5">
        @Html.Action("ListCategory", "Module")
    </div>
    <div class="col-md-9 mt-5">
        <h3 class="text-center text-danger">TẤT CẢ SẢN PHẨM</h3>
        <div class="row">
            @foreach (var pro in Model)
            {
                <div class="col-md-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center text-decoration-none">
                            <a class="card-text font-weight-bold text-dark" href="~/@pro.Slug">
                                <img class="card-img-top" src="~/Public/image/product/@pro.Img">
                                @pro.Name
                            </a>
                            <p class="card-text text-center text-danger">
                                @String.Format("{0:n0}", pro.PriceSale) VNĐ
                            </p>
                            <p class="card-text text-center text-muted pricesale">
                                @String.Format("{0:n0}", pro.Price) VNĐ
                            </p>
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="" class="btn btn-primary d-block">MUA NGAY</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("AddItem","Cart", new {productId = pro.Id})">
                                        <i class="fas fa-cart-plus text-primary" style="font-size:35px; "></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="phantrang">
            @Html.PagedListPager(Model, page => Url.Action("Product","Site", new { page, size = ViewBag.currentSize }))
        </div>
    </div>
</div>


