@model IEnumerable<MyLibrary.Model.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-danger text-uppercase">
                <strong>DANH SÁCH LIÊN HỆ</strong>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-sm btn-success" href="@Url.Action("Create","Contact")"><i class="fas fa-cart-plus"></i> Thêm</a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Trash","Contact")"><i class="fas fa-trash-alt"></i> Thùng Rác</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @Html.Partial("_XMessage")
        <table class="table table-bContacted table-striped">
            <tr>
                <th>
                    <input type="checkbox" name="checkAll" value="all" />
                </th>
                <th>Tên tài khoản</th>
                <th>Số điện thoại</th>
                <th>Ngày tạo</th>
                <th>Chức Năng</th>
                <th>ID</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkAll" value="all" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <a class="btn btn-sm btn-outline-success" href="@Url.Action("Status","Contact",new { id = item.Id })">
                                <i class="fas fa-toggle-on"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Status","Contact",new { id = item.Id })">
                                <i class="fas fa-toggle-on"></i>
                            </a>
                        }
                        <a class="btn btn-sm btn-outline-danger" href="@Url.Action("DelTrash","Contact",new { id = item.Id })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


