@model IEnumerable<MyLibrary.Model.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    <div class="gio-hang">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <h3 class="gio-hang-cua-ban text-primary"><i class="fa fa-cart-plus"></i>  Giỏ Hàng Của Bạn</h3>
                </div>
                <div class="col-8">
                    @{ decimal tongtien = 0;}
                    @foreach (var item in Model)
                    {
                        tongtien += item.Product.PriceSale * item.Quantity;
                        <input type="hidden" value="@item.ProductId" id="productId" />
                        <div class="row mot-sp-gh mb-2">
                            <div class="col-3"><img src="~/Public/Image/Product/@item.Product.Img" width="100%" alt="Alternate Text" /></div>
                            <div class="col-9 thong-tin-san-pham-gh">
                                <h3 class="Ten-sp">@item.Product.Name</h3>
                                <h5 class="gia-sp mb-2">Giá:   @String.Format("{0:n0}", @item.Product.PriceSale) VNĐ<del> @String.Format("{0:n0}", @item.Product.Price) VNĐ</del></h5>
                                <a href="@Url.Action("DeleteItem","Cart", new {productId = item.Product.Id})"><button class="btn btn-outline-info btn-sm">Xóa</button></a>
                                <a href="https://localhost:44317/"><button class="btn btn-outline-info btn-sm">Mua Sau</button></a>
                                <h5 class="soluong mt-1">
                                    Số Lượng:
                                    <input class="text-center" type="number" name="Quantity" value="@item.Quantity" max="10" min="1" />

                                </h5>
                            </div>
                        </div>
                        @* heets mot san pham*@

                    }
                </div>
                <div class="col-4">
                    </div>
                    <div class="row thanh-tien mt-5">
                        <div class="col-6"><h3 class="Ten-sp">Thành Tiền:</h3></div>
                        <div class="col-6">
                            <h5 class="gia-sp">@String.Format("{0:n0}", @tongtien) VNĐ</h5>
                            <small>(Đã bao gồm vat nếu có)</small>
                        </div>
                    </div>
                    <div class="row thanh-toan">
                        <div class="col-12 my-5 ml-5">
                            <a href="#"><button type="button" class="btn btn-danger btn-lg btn-block">Thanh Toán</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
else
{
    <div class="gio-hang">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="gio-hang-cua-ban"><i class="fa fa-cart-plus"></i>Giỏ Hàng Của Bạn</h3>
                </div>
                <div class="col-8">
                    <div class="alert-dark">Chưa Có Sản Phẩm Nào Được Chọn</div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Public/js/cart.js"></script>